<div class="container-fluid">
  <div class="col-12 l-days">
    <h4 class="days"><a href="{% url 'monEvents' %}">Lundi</a></h4>
    <div class="row">
      {% for e in event_mon_list %}
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title"><a href="{% url 'eventDetail' e.id %}">{{ e.name }}</a></h5>
        </div>
        <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
        <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="{% url 'tueEvents' %}">Mardi</a></h4>
    <div class="row">
        {% for e in event_tue_list %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title"><a href="{% url 'eventDetail' e.id %}">{{ e.name }}</a></h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="{% url 'wedEvents' %}">Mercredi</a></h4>
    <div class="row">
        {% for e in event_wed_list %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title"><a href="{% url 'eventDetail' e.id %}">{{ e.name }}</a></h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="{% url 'thuEvents' %}">Jeudi</a></h4>
    <div class="row">
        {% for e in event_thu_list %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title"><a href="{% url 'eventDetail' e.id %}">{{ e.name }}</a></h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="{% url 'friEvents' %}">Vendredi</a></h4>
    <div class="row">
        {% for e in event_fri_list %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title"><a href="{% url 'eventDetail' e.id %}">{{ e.name }}</a></h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="{% url 'satEvents' %}">Samedi</a></h4>
    <div class="row">
        {% for e in event_sat_list %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title"><a href="{% url 'eventDetail' e.id %}">{{ e.name }}</a></h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="{% url 'sunEvents' %}">Dimanche</a></h4>
    <div class="row">
        {% for e in event_sun_list %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title"><a href="{% url 'eventDetail' e.id %}">{{ e.name }}</a></h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endfor %}
    </div>
  </div>

</div>
