<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="author" content="culturequiz dev team" lang="fr" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <title>Culture Quiz Toulouse | Bienvenue</title>
</head>
<body>
<div class="container-fluid">
  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/lundi/">Lundi</a></h4>
    <div class="row">
      {% for e in event_list %}
      {% if e.day == lundi %}
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
        </div>
        <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
        <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/mardi/">{{ Mardi }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == mardi %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/mercredi/">Mercredi</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == datePlus2 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/jeudi/">Jeudi</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == datePlus3 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/vendredi/">Vendredi</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == datePlus4 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/samedi/">Samedi</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == datePlus5 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/dimanche/">Dimanche</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == datePlus6 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

</div>
</body>
</html>
