<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="author" content="culturequiz dev team" lang="fr" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <title>Culture Quiz Toulouse | Bienvenue</title>
</head>
<body>
<div class="container-fluid">
  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ dateCur %}/">{{ dateCur }}</a></h4>
    <div class="row">
      {% for e in event_list %}
      {% if e.day == dateCur %}
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
        </div>
        <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
        <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ datePlus1 }}/">{{ datePlus1 }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 1) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ datePlus2 }}/">{{ datePlus2 }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 2) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ datePlus3 }}/">{{ datePlus3 }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 3) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ datePlus4 }}/">{{ datePlus4 }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 4) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ datePlus5 }}/">{{ datePlus5 }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 5) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ datePlus6 }}/">{{ datePlus6 }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 6) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{{ datePlus7 }}/">{{ datePlus7 }}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 7) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

</div>
</body>
</html>
