{%
  from datetime import date
  def lun():
    return "Lundi"
  def mar():
    return "Mardi"
  def mer():
    return "Mercredi"
  def jeu():
    return "Jeudi"
  def ven():
    return "Vendredi"
  def sam():
    return "Samedi"
  def dim():
    return "Dimanche"
  switcher = {
    1: lun,
    2: mar,
    3: mer,
    4: jeu,
    5: ven,
    6: sam,
    7: dim
  }
  def numToStr(num):
    func = switcher.get(num, "Error while getting current day.")
    return func()
  dateCur = date.today().weekday()
%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="author" content="culturequiz dev team" lang="fr" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <title>Culture Quiz Toulouse | Bienvenue</title>
</head>
<body>
<div class="container-fluid">
  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% numToStr(dateCur) %}/">{% numToStr(dateCur) %}</a></h4>
    <div class="row">
      {% for e in event_list %}
      {% if e.day == dateCur %}
      <div class="col">
        <div class="row">
          <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
        </div>
        <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
        <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% (numToStr(dateCur) + 1) % 7 %}/">{% (numToStr(dateCur) + 1) % 7 %}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 1) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% (numToStr(dateCur) + 2) % 7 %}/">{% (numToStr(dateCur) + 2) % 7 %}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 2) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% (numToStr(dateCur) + 3) % 7 %}/">{% (numToStr(dateCur) + 3) % 7 %}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 3) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% (numToStr(dateCur) + 4) % 7 %}/">{% (numToStr(dateCur) + 4) % 7 %}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 4) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% (numToStr(dateCur) + 5) % 7 %}/">{% (numToStr(dateCur) + 5) % 7 %}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 5) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% (numToStr(dateCur) + 6) % 7 %}/">{% (numToStr(dateCur) + 6) % 7 %}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 6) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

  <div class="col-12 l-days">
    <h4 class="days"><a href="programme/{% (numToStr(dateCur) + 7) % 7 %}/">{% (numToStr(dateCur) + 7) % 7 %}</a></h4>
    <div class="row">
        {% for e in event_list %}
        {% if e.day == (dateCur + 7) % 7 %}
        <div class="col">
          <div class="row">
            <h5 class="col-6 offset-3 game-title">{{ e.type }}</h5>
          </div>
          <img src="static/img/{{ e.location.name }}.png" alt="photo" class="game-pic">
          <p class="game-text">{{ e.location.name }} - {{ e.time }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>

</div>
</body>
</html>
